
/* AMBER */
.amber1 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #FFF8E1 0%, #FFECB3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #FFF8E1 0%, #FFECB3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #FFF8E1 0%, #FFECB3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.amber2 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #fde499 0%, #e2b324 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #fde499 0%, #e2b324 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #fde499 0%, #e2b324 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.amber3 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #FFC107 0%, #FFA000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #FFC107 0%, #FFA000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #FFC107 0%, #FFA000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.amber4 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #e88e1b 0%, #bd5c11 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #e88e1b 0%, #bd5c11 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #e88e1b 0%, #bd5c11 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* RED */
.red1 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #FFEBEE 0%, #fba0a0 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #FFEBEE 0%, #fba0a0 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #FFEBEE 0%, #fba0a0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.red2 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #f57e7e 0%, #f95d52 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #f57e7e 0%, #f95d52 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f57e7e 0%, #f95d52 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.red3 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #f96055 0%, #C62828 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #f96055 0%, #C62828 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f96055 0%, #C62828 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.red4 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #b72020 0%, #500101 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #b72020 0%, #500101 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #b72020 0%, #500101 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* PINK */
.pink1 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #fce4f4 0%, #ffc9e2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #fce4f4 0%, #ffc9e2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #fce4f4 0%, #ffc9e2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.pink2 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #f59ab9 0%, #f96295 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #f59ab9 0%, #f96295 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f59ab9 0%, #f96295 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.pink3 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #e64e81 0%, #d40f57 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #e64e81 0%, #d40f57 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #e64e81 0%, #d40f57 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.pink4 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #b9165e 0%, #54012d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #b9165e 0%, #54012d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #b9165e 0%, #54012d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* PURPLE */
.purple1 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #F3E5F5 0%, #E1BEE7 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #F3E5F5 0%, #E1BEE7 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #F3E5F5 0%, #E1BEE7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.purple2 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #c682d2 0%, #a739b9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #c682d2 0%, #a739b9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #c682d2 0%, #a739b9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.purple3 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #ac52bd 0%, #890d8a 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ac52bd 0%, #890d8a 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ac52bd 0%, #890d8a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.purple4 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #872d98 0%, #470348 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #872d98 0%, #470348 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #872d98 0%, #470348 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* BLUE */
.blue1 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #E3F2FD 0%, #BBDEFB 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #E3F2FD 0%, #BBDEFB 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #E3F2FD 0%, #BBDEFB 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.blue2 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #93caf7 0%, #2f9af1 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #93caf7 0%, #2f9af1 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #93caf7 0%, #2f9af1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.blue3 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #309aef 0%, #0c64bb 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #309aef 0%, #0c64bb 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #309aef 0%, #0c64bb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.blue4 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #2364af 0%, #04214e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #2364af 0%, #04214e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #2364af 0%, #04214e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* TEAL */
.teal1 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #E0F2F1 0%, #B2DFDB 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #E0F2F1 0%, #B2DFDB 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #E0F2F1 0%, #B2DFDB 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.teal2 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #70c7bf 0%, #42ada3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #70c7bf 0%, #42ada3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #70c7bf 0%, #42ada3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.teal3 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #2aa79b 0%, #007b6f 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #2aa79b 0%, #007b6f 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #2aa79b 0%, #007b6f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.teal4 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #047d6e 0%, #002d26 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #047d6e 0%, #002d26 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #047d6e 0%, #002d26 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* GREEN */
.green1 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #E8F5E9 0%, #a1daa3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #E8F5E9 0%, #a1daa3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #E8F5E9 0%, #a1daa3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.green2 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #8fca91 0%, #57af5c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #8fca91 0%, #57af5c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #8fca91 0%, #57af5c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.green3 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #4CAF50 0%, #2d8030 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #4CAF50 0%, #2d8030 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #4CAF50 0%, #2d8030 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.green4 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #2d7731 0%, #143517 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #2d7731 0%, #143517 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #2d7731 0%, #143517 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* BLUE GREY */
.blue-grey1 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #ECEFF1 0%, #CFD8DC 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ECEFF1 0%, #CFD8DC 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ECEFF1 0%, #CFD8DC 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.blue-grey2 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #B0BEC5 0%, #78909C 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #B0BEC5 0%, #78909C 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #B0BEC5 0%, #78909C 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.blue-grey3 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #6d8c9a 0%, #506771 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #6d8c9a 0%, #506771 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #6d8c9a 0%, #506771 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.blue-grey4 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #4a5d67 0%, #131b1f 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #4a5d67 0%, #131b1f 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #4a5d67 0%, #131b1f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* GREY */
.grey1 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #FAFAFA 0%, #dedddd 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #FAFAFA 0%, #dedddd 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #FAFAFA 0%, #dedddd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.grey2 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #cccccc 0%, #9c9c9c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #cccccc 0%, #9c9c9c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #cccccc 0%, #9c9c9c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.grey3 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #8a8989 0%, #585858 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #8a8989 0%, #585858 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #8a8989 0%, #585858 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.grey4 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #525252 0%, #0e0e0e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #525252 0%, #0e0e0e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #525252 0%, #0e0e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* START VIBRANT GRADIENTS */
.vibrant1 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #f7c256 0%, #ff5e00 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #f7c256 0%, #ff5e00 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f7c256 0%, #ff5e00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.vibrant2 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #ff6a00 0%, #ee0979 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ff6a00 0%, #ee0979 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ff6a00 0%, #ee0979 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.vibrant3 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #e26bd4 0%, #9f3bea 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #e26bd4 0%, #9f3bea 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #e26bd4 0%, #9f3bea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.vibrant4 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #973cfd 0%, #f5df44 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #973cfd 0%, #f5df44 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #973cfd 0%, #f5df44 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.vibrant5 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #00ffad 0%, #5fcdf7 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #00ffad 0%, #5fcdf7 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #00ffad 0%, #5fcdf7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.vibrant6 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #913eef 0%, #2f9dfb 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #913eef 0%, #2f9dfb 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #913eef 0%, #2f9dfb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.vibrant7 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #e41ee6 0%, #07dbf1 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #e41ee6 0%, #07dbf1 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #e41ee6 0%, #07dbf1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.vibrant8 {
  background: #39b57f; /* Old browsers */
  background: -moz-linear-gradient(left, #1bfbfb 0%, #0a86f1 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #1bfbfb 0%, #0a86f1 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #1bfbfb 0%, #0a86f1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
