<div class="nav-bar">
  <img class="logo-small" src="../images/logo.png"/>
  <div class="nav-links">
    <div>
      <a [routerLinkActive]="['is-active']" [routerLink]="['']" [routerLinkActiveOptions]="{exact:true}"
         class="nav-link">Home</a>
      <a [routerLinkActive]="['is-active']" [routerLink]="['/001']" [routerLinkActiveOptions]="{exact:true}"
         class="nav-link">001 - Sign Up</a>
      <a [routerLinkActive]="['is-active']" [routerLink]="['/002']" [routerLinkActiveOptions]="{exact:true}"
         class="nav-link">002 - Checkout</a>
      <a [routerLinkActive]="['is-active']" [routerLink]="['/003']" [routerLinkActiveOptions]="{exact:true}"
         class="nav-link">003 - Landing Page</a>
      <a [routerLinkActive]="['is-active']" [routerLink]="['/004']" [routerLinkActiveOptions]="{exact:true}"
         class="nav-link">004 - Calculator</a>
      <a [routerLinkActive]="['is-active']" [routerLink]="['/005']" [routerLinkActiveOptions]="{exact:true}"
         class="nav-link">005 - App Icon</a>
      <a [routerLinkActive]="['is-active']" [routerLink]="['/006']" [routerLinkActiveOptions]="{exact:true}"
         class="nav-link">006 - Profile</a>
      <a [routerLinkActive]="['is-active']" [routerLink]="['/007']" [routerLinkActiveOptions]="{exact:true}"
         class="nav-link">007 - Settings</a>
      <a [routerLinkActive]="['is-active']" [routerLink]="['/008']" [routerLinkActiveOptions]="{exact:true}"
         class="nav-link">008 - 404</a>
      <a [routerLinkActive]="['is-active']" [routerLink]="['/009']" [routerLinkActiveOptions]="{exact:true}"
         class="nav-link">009 - Music Player</a>
      <a [routerLinkActive]="['is-active']" [routerLink]="['/010']" [routerLinkActiveOptions]="{exact:true}"
         class="nav-link">010 - Social Share</a>
      <a [routerLinkActive]="['is-active']" [routerLink]="['/011']" [routerLinkActiveOptions]="{exact:true}"
         class="nav-link">011 - Flash Messages</a>
    </div>
    <div>
      <p>Check out my <a href="http://portfolio.rachellepatman.com" target="_blank">portfolio</a>
      to see more of my work</p>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
